<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>testeNetShoes</display-name>

<servlet>
	<servlet-name>EditarEndereco</servlet-name>
	<servlet-class>br.com.testenetshoes.controller.servlet.EditarEnderecoServlet</servlet-class>
</servlet>

<servlet>
	<servlet-name>ExcluirEndereco</servlet-name>
	<servlet-class>br.com.testenetshoes.controller.servlet.ExcluirEnderecoServlet</servlet-class>
</servlet>

 <servlet>
	<servlet-name>SalvarEndereco</servlet-name>
	<servlet-class>br.com.testenetshoes.controller.servlet.SalvarEnderecoServlet</servlet-class>
</servlet>

<servlet>
	<servlet-name>ListaEndereco</servlet-name>
	<servlet-class>br.com.testenetshoes.controller.servlet.ListarEnderecoServlet</servlet-class>
</servlet>
  
   <servlet-mapping>
  	<servlet-name>EditarEndereco</servlet-name>
  	<url-pattern>/editarendereco.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>SalvarEndereco</servlet-name>
  	<url-pattern>/salvarendereco.do</url-pattern>
  </servlet-mapping>
  
   <servlet-mapping>
  	<servlet-name>ExcluirEndereco</servlet-name>
  	<url-pattern>/excluirendereco.do</url-pattern>
  </servlet-mapping>
  
   <servlet-mapping>
  	<servlet-name>ListaEndereco</servlet-name>
  	<url-pattern>/listaendereco.do</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>